<template>
  <div id="app">
<!--    
    <span v-if="visible"> 
      {{ message }}
    </span>
    <span v-else>
      Nilai variable visible === false
    </span>
    <span>
      Hello Vue!!
    </span>
end part 1
-->

<!-- 
  <li
    v-for="(user, index) in users"
    v-bind:key="index"
  >
    {{ index }}. {{ user.name }}
  </li>
  <button v-on:click="handleUserClick">Click</button>
end part 2
-->

    <div v-if="visible">Hello World</div>
    <button v-on:click="handleUserClick">Click</button>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      // message: 'Hello World!',
      // visible: false
      // end part 1

    // users: [
    //  { name: 'Mae' },
    //  { name: 'Stro' },
    //  { name: 'Tras' },
    //  { name: 'Tane' },
    //  { name: 'Cho' },
    //  { name: 'Ra' }
    // ]
    // end part 2

      visible: false
    }
  },
  methods: {
    handleUserClick: function() {
      // alert('User clicked'); ---- untuk part 2
      // this.visible = true;

      //if (this.visible==true) {
      //  this.visible = false;
      //} else {
      //  this.visible = true;

      // (this.visible==true)?(this.visible=false):(this.visible=true)
      this.visible = !this.visible;
    }
  }
}
</script>

<style>

</style>
